{% extends "base.html" %}

{% block title %}Index{% endblock title %}

{% block message %}
{% if messages %}

    {% for message in messages %}
    {% if message.tags %}<div  class="alert alert-{{ message.tags }}">{% endif %}{{ message }}</div>
    {% endfor %}

{% endif %}
{% endblock message %}

{% block name %}<h1>Web Разработка на Python</h1>{% endblock name %}

{% block opisanie %}<p>Python — универсальный язык программирования, применимый в том числе и в вебе.
            С технической точки зрения web-приложение на Python — полноценное приложение,
            загруженное в память, обладающее своим внутренним состоянием,
            сохраняемым от запроса к запросу. </p>{% endblock opisanie %}

{% block content %} <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">План Курса</div>

          <!-- Table -->
          <table class="table">
              <tr>
                <td>Название</td><td>Краткое описание</td>
              </tr>
              {% for i in course %}
                  <tr>

                      <td><a href="http://127.0.0.1:8000/course/{{i.id}}">{{ i.name|upper }}</a></td><td>{{ i.short_description|title }}</td>

                  </tr>
              {% endfor %}
          </table>
          </div>
{% endblock content %}  {% block nav_class_active_index %}active{% endblock nav_class_active_index %}