{% extends "base.html" %}

{% block title %}Student{% endblock title %}

{% block name %}<h1>{{ object.name }}</h1>{% endblock name %}



{% block content %} <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">О студенте</div>

          <!-- Table -->
          <table class="table">
              <tr>
                    <td>Фамилия</td><td>{{ object.name }}</td>
              </tr>
              <tr>
                    <td>Имя</td><td>{{ object.surname }}</td>
              </tr>
              <tr>
                  <td>Дата рождения</td><td>{{ object.date_of_birth }}</td>
              </tr>
              <tr>
                  <td>Email</td><td>{{ object.email }}</td>
              </tr>
              <tr>
                  <td>Телефон</td><td>{{ object.phone }}</td>
              </tr>
              <tr>
                  <td>Адрес</td><td>{{ object.address }}</td>
              </tr>
              <tr>
                  <td>Скайп</td><td>{{ object.skype }}</td>
              </tr>
              <tr>
                  <td>Курсы</td><td>{% for a in object.courses.values %}{{ a.name}}<br />{% endfor %}</td>
              </tr>

          </table>
          </div>
{% endblock content %}